/* fonts links */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* header related styles */

*{
    margin: 0;
}

.my-suka {
    color: #272727;
font-family: 'Lato';
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 32px;
}

.my-shuka {
    color: rgba(39, 39, 39, 0.60);
font-family: 'Lato';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 32px;
}

.btn-primary {
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: 'Lato';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
}

.section-one {
    margin: 0 auto;
}
.banner {
    display :flex;
    align-items: center;
    padding: 50px 0px 0 240px;
    background: #E554731A;
    justify-content: center;
}

.left {
    display: block;
    margin-right: 200px;
}
 .indur {
    color: #272727;
text-align: center;
font-family: 'Lato';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 178px;
text-align: center;
}

.khaijjani {
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: 'Lato';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
text-align: center;
}

.flower-list-one-img {
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
justify-content: center;
align-items: flex-end;
display: flex;
}

.flower-list-two-img {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    justify-content: center;
    align-items: center;
    display: flex;
}

.flower-list-three-img {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    justify-content: center;
    align-items: flex-end;
    display: flex;
    
}

.flower-list-container {
    display: flex;
margin: 0 auto;
padding: 48px 240px 32px 240px;
    gap: 24px;
    justify-content: center;
} 

.siuuu {
    margin-top: 32px;
    color: #272727;
text-align: center;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; 
text-decoration-line: underline;
justify-content: space-between;
}

.support-description {
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; 
margin-top: 24px;
}

.supports-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    text-align: center;
    background: rgba(39, 39, 39, 0.1);
    border-radius: 10px;
    width: 1253px;
    height: 160px;
    margin: 100px auto;
}

.banner-supports {
    padding: 50px 100px;
    justify-content: center;
}
.hot-deal-title {
    color: #272727;
font-family: 'Lato';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.choto-ongsho {
    color: #E55473;
font-family: 'Lato';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
font-family: 'Lato';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 32px;
}

.btn-primary-hot-deal {
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: 'Lato';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 20px 43px 20px 43px;
border: 0;
}

.hot-deal-container {
    display: flex;
    width: 100%;
    height: 550px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    gap: 216px;
    background-position: center;
    justify-content: center;
}



.section-three{
    margin-top: 100px;
    margin-bottom: 131px;
}

.section-four-title {
    color: #272727;
text-align: center;
font-family: 'Lato';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.section-four-description { 
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: 'Lato';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.instagram-img-container {
display: flex;
padding: 48px 240px 128px 240px;
justify-content: center;
gap: 24px;
}

.img-instagram {
    width: 342px;
height: 396px;
border-radius: 10px;
}

.last-section-title {
    color: #272727;
text-align: center;
font-family: 'Lato';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}

.last-section-description {
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: 'Lato';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 48px;
} 

.input {
    width: 600px;
height: 64px;
border-radius: 8px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: 'Lato';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 2px solid #333;
}

.last-section-btn-primary {
    width: 150px;
height: 64px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: 'Lato';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 18.29px 31px 18.29px 31px;
border: 0;
margin-left: 16px;
}

.last-section-banner{
    background-image: url('Flower Asset/Rectangle 9.png') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 449px; 
    margin: 0 auto;
  
    border-radius: 8px;
}

.last{
    padding: 122px 325px 121px 325px
}

.last-section {
    margin-top: 80px ;
    margin-bottom: 131px;
}
